
.img-small {
  max-width: 200px;
  height: auto;
}

.project-uses {
  font: Arial, Helvetica, sans-serif;
  font-size: 75%;
  font-weight: medium;
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

.project-link {
  font: Arial, Helvetica, sans-serif;
  font-size: 90%;
  font-weight: lighter;
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

.container-lg {
    max-width: 900px;
}

.textblock {
  white-space: pre-wrap;
}

.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
  width: 80%;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
